@page "{id}"
@model Api.Admin.SpeedGovernors.Profile.IndexModel

<H1>The Page For view A single speed governor</H1>

<div class="border backgroundWhite container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Location for SpeedgovenorA</h2>
        </div>

        <div class="col-6 text-right">
            <a asp-page="/Account/Register" class="btn btn-primary"> <i class="fas fa-plus"></i> &nbsp; Register New</a>
        </div>
    </div>
    <br> <br />

    <table id="Dt_Load" class="table table-striped table-bordered" style="width: 100%;">
        <thead>
            <tr>
                <th>Time</th>
                <th>Speed</th>
                <th>Latitude</th>
                <th>Longitude </th>
                <th>GpsCourse</th>
                <th>SpeedSignalStatus</th>
                <th></th>
            </tr>}
        </thead>
        <tbody>
            @foreach (var location in Model.Locations)
            {
                <tr>
                    <td>@location.Time</td>
                    <td>@location.Speed</td>
                    <td>@location.Latitude</td>
                    <td>@location.Long</td>
                    <td>@location.GpsCourse</td>
                    <td>@location.SpeedSignalStatus</td>
                    <td>
                        <a asp-page="/Admin/SpeedGovernors/Map/Map" asp-route-lat="@location.Latitude"
                        asp-route-long="@location.Long" class="btn btn-primary"> <i class="fas fa-plus"></i> &nbsp;
                            ViewonMap</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
